# Config files for common editors
.vscode
.idea

# The build output folders created by build.sh
/build*
/docscascade-ansible/cfg/
cascade-ansible/output/
*.log
src/applications/tests/cascade_chain/docker_test_cfg/**/*.pem
src/applications/tests/cascade_chain/docker_test_cfg/**/*.crt
src/applications/tests/cascade_chain/docker_test_cfg/**/*.key
__pycache__/
*.pyc
.venv/
.vscode/
.idea/
cascade-ansible/cfg/
