[DERECHO]
local_id = {{ local_id }}
local_ip = {{ local_ip }}

[RDMA]
provider = {{ rdma_provider }}
domain = {{ rdma_domain }}
tx_depth = {{ tx_depth }}
rx_depth = {{ rx_depth }}

[PERS]
file_path = {{ file_path }}
ramdisk_path = {{ ramdisk_path }}

[LOGGER]
default_log_name = {{ default_log_name }}
default_log_level = {{ default_log_level }}
sst_log_level = {{ sst_log_level }}
rpc_log_level = {{ rpc_log_level }}
viewmanager_log_level = {{ viewmanager_log_level }}
persistence_log_level = {{ persistence_log_level }}
log_file_depth = {{ log_file_depth }}

